h1 {
    color: skyblue;
    text-decoration: underline
}

h2 {
    color: lightpink;
    text-decoration: underline
}

p {
    color: darkseagreen;
}

ol {
    color: coral
}

ul {
    color: mediumpurple
}

th {
    color: cadetblue
}

td {
    color: cornflowerblue
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 120%
}
